<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope&family=Akaya Kanadaka&display=swap">
    <link rel="stylesheet" href="../statics/css/home.css">
    

    <title> Re-Design v2 </title>
</head>

<body id="body">
  {% extends "base-temp.html" %}
  
  {% block scripts %}
    <script defer src="../statics/js/home.js"></script>
  {% endblock %}   
  
  {% block content %}
    <!-- Home Section -->
    <div class="home-housing">
      <h1 class="home-title"> 
        The Assured Booking Site <br> 
        <span class="sub_text"> for Bristol Community Events </span>
      </h1>
      <button href="" class="home-prompt-btn"> Explore Events </button>
    </div>
    <div class="events"></div>

    <!-- Event Section -->
    <div class="event-housing">
      <h1 class="nav-section-title"> Featured Events </h1> 

      <div class="event-carousel">
        <template id="card-template">
          <div class="ft-card card-closed">
            <div class="closed-cont">
                <div class="evnt-alias-cont">
                    <h1 class="evnt-alias"> BBF</h1>
                </div>
                <div class="sep-bar"></div>
                <div class="evnt-date">1 / 1 / 2025</div>
            </div>

            <div class="opened-cont">
              <h1 class="evnt-category">Entertainments</h1>
              <h1 class="evnt-title">Bristol Ballon Fiesta</h1>
              <h1 class="evnt-desc">Twice-daily launches (weather permitting) at dawn (~6:00 am) and dusk (~6:00 pm), where over 100 balloons of all shapes and colours fill the sky simultaneously.</h1>
              
              <div class="evnt-details">
                <div class="evnt-detail-card date-detail">
                  <div class="evnt-icon date-icon"></div>
                  <h1 class="date-txt detail-txt">Date</h1>
                  <h1 class="date detail-info">September 10, 2026</h1>
                </div>

                <div class="evnt-detail-card cap-detail">
                  <div class="evnt-icon cap-icon"></div>
                  <h1 class="date-txt detail-txt">Capacity</h1>
                  <h1 class="capacity detail-info">5000</h1>
                </div>

                <div class="evnt-detail-card price-detail">
                  <div class="evnt-icon ticket-icon"></div>
                  <h1 class="date-txt detail-txt">Price</h1>
                  <h1 class="price detail-info">£150</h1>
                </div>

              </div>

              <div class="price-loc-cont">
                <div class="evnt-loc-icon evnt-icon loc-icon"></div>
                <div class="evnt-loc">Ashton Gate, Bristol</div>
                <div class="btn-ctn"><button class="start-booking-desktop booking-btn"> Start Boooking </button></div>
              </div>

              <div class="movement-dot-cont">
                <div class="dot-cont-mobile"></div>

                <div class="movement-btns">
                  <div class="prev"><button class="mv-btn-icon prev-icon"></button></div>
                  <div class="next"><button class="mv-btn-icon next-icon"></button></div>
                </div>
              </div>

              <div class="dot-cont-desktop"></div>

              <button class="start-booking-mobile booking-btn"> Start Boooking </button>
            </div>
          </div>
        </template>
      </div>
      <template id="dot-template">
        <div class="dot dot-closed"></div>
      </template>
    </div>

    <div class="main3 s-b">
      <h1 class="question-title"> FAQ </h1>
      <div class="question-housing">

        <div class="separator"></div>
        <div class="question-card">
          <h1 class="question-heading"> What is Assured Bookings </h1>  
          <button class="question-prompt"></button>       
        </div>
        <div class="question-answer">
          <span class="question-important">Assured Bookings is a community event booking website that 
          consolidates a diverse range of events in one convenient location, 
          streamlining the booking process.</span> Users can reserve different types 
          of events, such as exhibitions, musical performances, and private gatherings. 
          Additionally, Assured Bookings offers a variety of services that benefit all 
          customers when booking an event.
        </div>

        <div class="separator"></div>
        <div class="question-card">
          <h1 class="question-heading"> Can I cancel or get a refund? </h1>
          <button class="question-prompt"></button>
        </div>
        <div class="question-answer">
          <span class="question-important">You may cancel an event at any time before it occurs.</span> 
          If you cancel the event more than 40 days before the booking date, 
          there will be no cancellation fee. If you cancel between 25 and 39 days
           before the booking date, a 
           <span class="question-important">40% cancellation fee</span> 
           will be charged. 
           For cancellations made within 25 days of the booking date, a 
           <span class="question-important">100% cancellation fee</span>  will apply. 
        </div>

        <div class="separator"></div>
        <div class="question-card">
          <h1 class="question-heading"> What if the event is cancelled? </h1>     
          <button class="question-prompt"></button>         
        </div> 
        <div class="question-answer">
          In an unlikely situation of an event been cancelled, 
          <span class="question-important">a full refund will be given to participants of the event</span>.
        </div>

        <div class="separator"></div>
        <div class="question-card">
          <h1 class="question-heading"> How do events work? </h1>     
          <button class="question-prompt"></button>         
        </div> 
        <div class="question-answer">
          <span class="question-important">Events on Assured Bookings are in two categories: Standard and Multi-days.</span>
          <br><br>
          • Multi-days events run on multiple days and each day 
          will incur part of the total event price. Users
          will be allowed to book more days of such an event.
          <br>
          • Standard events run only on a single day and a total 
          price is paid before the event.
        </div>

        <div class="separator"></div>
        <div class="question-card">
          <h1 class="question-heading"> What if an event Availability is full? </h1>     
          <button class="question-prompt"></button>         
        </div> 
        <div class="question-answer">
          In a situation where an event is full, 
          <span class="question-important">Users will be allowed to join a Waiting List</span> and if a space becomes available, the user will be 
          offered a space for the said event.
        </div>

        <div class="separator"></div>
        <div class="question-help">
          Have More Questions? Visit our 
          <a href="" class="question-help-page"> Help Page. </a>
        </div>
      </div>
    </div>

    <div class="CTA-housing">
      <h1 class="CTA-title"> Ready to Book your Next Experience? </h1>
      <div class="CTA-Prompt">
        <a href="../Event" class = "CTA-Prompt-btn" > Try for Free </a>
        <h1 class="CTA-Prompt-text">Get Started in less than 30 seconds </h1>
      </div>
    </div>
  {% endblock %}
</body>
</html>             
