<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope&family=Akaya Kanadaka&display=swap">
    <link rel="stylesheet" href="../statics/css/login.css">
    <script defer src="../statics/js/login.js"></script>
    <title> Re-Design v2 </title>
</head>

<body id="body">
    <div class="main0 s_b0">
        <div class="login-container">
            <div class="login-input-container signup">
                <!-- Global Components-->
                <div class="global-prompts-cont">
                    <h1 class="global-prompts1"> </h1>
                    <h1 class="global-prompts2"> </h1>
                </div>

                <!--  Sign Up Components-->
                <div class="login-signup-component">
                    <h1 class="login-input-label-signup"> Full Name</h1>   
                    <div class="login-sigup-input-components">
                        <div class="login-user-input-cont1-signup">
                            <div class="login-signup-input-icon1"></div>
                            <input type="text" class="login-user-input-entry-signup FirstName" placeholder="First Name" >
                        </div>                   
                        <div class="login-user-input-cont1-signup">
                            <div class="login-signup-input-icon2"></div>
                            <input type="text" class="login-user-input-entry-signup LastName" placeholder="Last Name">
                        </div>
                    </div> 
   
                </div> 

                <!--  Sign in Components-->
                <h1 class="login-input-label"> Email Address</h1>
                <div class="login-user-input-cont1">
                    <div class="login-user-input-icon"></div>
                    <input type="text" class="login-user-input-entry email input-error input-valid" placeholder="you@example.com">
                </div>
                <h1 class="login-input-label1"> Password </h1>
                <div class="login-user-input-cont2">
                    <div class="login-user-input-icon1"></div>
                    <input type="text" class="login-user-input-entry passwordField" placeholder="example@pass123">
                    <button class="login-user-input-icon-password password toggle-Pass"></button>
                </div>

                <div class="login-input-prompts-cont1">
                    <input type="checkbox" class="login-input-prompt-checkbox Remember">
                    <h1 class="login-input-prompts-label"> Remember Me?</h1>
                    <a href="" class="login-input-prompt-link"> Forgot Password? </a>
                </div>

                <!--  Similar  Components-->
                <div class="login-input-prompts-cont2">
                    <button class="login-input-prompt-button submit-btn"> </button>
                </div>   
                
                <div class="login-input-prompts-cont3">
                    <h1 class="login-input-prompts-label1"> 
                        <button href="" class="login-input-prompt-link1 switch-btn" value="signup"> </button>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="Message-Container"> 
        <div class="Message-view remove-message message-cont">
            <div class="operation-icon success action-icon"></div>
            <h1 class="Message message-txt"> Signed In Successfully!</h1>
            <button class="message-close-button"></button>
        </div>
    </div>
</body>
</html>    